<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Assignmentpt2</display-name>
  <welcome-file-list>
     <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 <servlet>
<servlet-name>inventoryservlet</servlet-name>
<servlet-class>inventoryservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>inventoryservlet</servlet-name>
<url-pattern>/inventoryservlet/dashboard</url-pattern>
<url-pattern>/inventoryservlet/edit</url-pattern>
<url-pattern>/inventoryservlet/update</url-pattern>
<url-pattern>/inventoryservlet/delete</url-pattern>
<url-pattern>/inventoryservlet/insert</url-pattern>
</servlet-mapping>
</web-app>